.renderCart{
    width: 100%;
    height: 100vh;
    .myCart{
        width: 100%;
        height: 100vh;
        margin-top: 100px;
    }
    .empty-txt{
        height: 80%;
        align-items: center;
    }
    .total{
        margin-bottom: 30px;
    }
}