.dark {
    .contactPage {
        .newsletter {
            background-color: #e7eeef;
        }

        .firstPartContactPage {
            width: 100%;
            height: 80vh;
            color: #0a1e33;
            font-family: "Catamaran", sans-serif;

            h1 {
                font-size: 52px;
                font-weight: 800;
                line-height: 1em;
            }

            i {
                color: #99b8ba;
                transition: .5s;

                &:hover {
                    transition: .5s;
                    color: #e46a4b;
                }
            }

            .contactTxts {
                color: #0a1e33;

                h3 {
                    a {
                        text-decoration: none;
                        color: #0a1e33;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 1.4em;
                        transition: .5s;

                        &:hover {
                            transition: .5s;
                            color: #e46a4b;
                        }
                    }
                }

                p,
                span {
                    font-size: 14px;
                    color: rgb(91, 89, 89);
                    line-height: 1.5em;
                    cursor: pointer;
                }
            }
        }

        .imgTop {
            width: 100%;
            height: 20vh;
            background-image: url(../Pages/Images/blue-bg-shape.svg);
            position: relative;

            img {
                position: absolute;
                bottom: 30px;
            }
        }

        .secondPartContactPage {
            width: 100%;
            height: 90vh;
            background-color: #e7eeef;
            color: #0a1e33;
            font-family: "Catamaran", sans-serif;

            h6 {
                font-size: 12px;
                line-height: 1.3em;
                letter-spacing: 2px;
            }

            h2 {
                font-size: 36px;
                font-weight: bold;
                line-height: 1.2em;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.5em;
            }

            .getInTouch {
                label {
                    font-size: 14px;
                    line-height: 1.1em;
                }

                input {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 14px;
                    font-weight: 200;
                    line-height: 1.6em;
                    color: #0a1e3380;
                    height: 50px;
                }

                textarea {
                    height: 120px;
                }
            }

            .sendBtn {
                cursor: pointer;
                width: 130px;
                height: 40px;
                background-color: #e46a4b;
                color: #fff;
                font-size: 16px;
                line-height: 1.2em;
                border-radius: 4px;
                transition: all .7s;

                &:hover {
                    transition: all .7s;
                    background-color: #0a1e33;
                }
            }
        }
    }
}

.light {
    .contactPage {
        .newsletter {
            background-color: #D49CD4 !important;
        }

        .imgTop {
            width: 100%;
            height: 20vh;
            background-image: url(../Pages/Images/blue-bg-shape.svg);
            filter: invert(7%) sepia(22%) saturate(1119%) hue-rotate(254deg) brightness(83%) contrast(100%);
            position: relative;

        }

        .secondPartContactPage {
            background-color: #D49CD4;



            .getInTouch {
                input {
                    background-color: #EBD1ED;
                }

                textarea {
                    background-color: #EBD1ED;
                }
            }

        }
    }
}


// RESPONSIVE

@media only screen and(max-width:600px) {
    .contactPage {
        .firstPartContactPage {
            h1 {
                margin-top: 200px;
            }

        }

        .imgTop {
            img {
                width: 100px;
                margin-top: 30px;

            }
        }

        .secondPartContactPage {
            p {
                width: 70%;
            }
        }
    }
}