@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Heebo:wght@100&family=Lato:wght@100;300&family=Playfair+Display:ital@1&family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@100;200&family=Prata&display=swap');

.dark{
    footer{
    width: 100%;
    height: 60vh;
    background-image: url(../Pages/Images/shape-footer.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: "Cataraman", sans-serif;
    background-color: #f7f7f7;
    .first-part{
        a{
            text-decoration: none;
        }
        i{
            width: 40px;
            height: 40px;
            background-color: #f7f7f7;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #0a1e33;
            transition: all .3s;
            &:hover{
                transition: all .3s;
                color: #e46a4b;
            }
        }
    }
    a{
        text-decoration: none;
    }
    h6{
    font-family: "Cataraman", sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.6em;
        color: #0a1e33;
    }
}
}

.light{
    footer{
        width: 100%;
        height: 60vh;
        background-image: none;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: auto;
        font-family: "Cataraman", sans-serif;
        background-color: #EBD1ED !important;
        .first-part{
            a{
                text-decoration: none;
            }
            i{
                width: 40px;
                height: 40px;
                background-color: #f7f7f7;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #0a1e33;
                transition: all .3s;
                &:hover{
                    transition: all .3s;
                    color: #e46a4b;
                }
            }
        }
        a{
            text-decoration: none;
        }
        h6{
        font-family: "Cataraman", sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.6em;
            color: #0a1e33;
        }
    }
}


// RESPONSIVE

@media only screen and(max-width:600px){
    footer{
        height: auto;
        background-image: none !important;
        background-color: none !important;
        .logo{
            margin-left: 170px;
            margin-bottom: 20px;
        }
        .icons
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}