@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Heebo:wght@100&family=Lato:wght@100;300&family=Playfair+Display:ital@1&family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@100;200&family=Prata&display=swap');
.MainPage{
    width: 100%;
    height: 150vh;
    background-image: url(../Pages/Images/grey-left-shape-header-1.svg);
    background-position: top left;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #fff;
    .ovallight{
        position: absolute;
        margin-top: 200px;
        margin-left: 20px;
    }
    .ovalblue{
        position: absolute;
        margin-left: 300px;
        margin-top: 120px;
    }
    .ovalyellow{
        position: absolute;
        bottom: -5px;
        left: 220px;
    }
    .ovalred{
        position: absolute;
        bottom: -200px;
        left: 500px;
    }
    .mainPageTexts{
        h1{
            width: 70%;
            font-family: 'Catamaran', sans-serif;
            font-size: 52px;
            color:#0a1e33;
            font-weight: bolder;
        } 
        .explore{
            cursor: pointer;
            text-decoration: none;
            width: 220px;
            height: 50px;        
            background-color: #e46a4b;
            color: #fff;
            font-family: 'Catamaran', sans-serif;
            font-size: 16px;
            border-radius: 4px;
            transition: .6s;
            &:hover{
                transition: .6s;
                background-color: #0a1e33;
            }
        }
    }
    .mainPageImages{
        .mainimg{
            position: relative;
            margin-top: 16vh;
        }
       
        .sunImg{
            position: absolute;
            top: 150px;
            right: 500px;
            animation: movingSun 4s 1;
        }
        .rainbowImg{
            position: absolute;
            width: 140px;
            right: 550px;
            bottom: 50px;
           
        }
       
    }
    
}

.dark{
    .MainPage{
        background-color: #fff;
    }
}
.light{
    .MainPage{
        background-image: none;
    background-color: #F4DBF3;
    }
}



// ****************************************RESPONSIVE *********************************************


@media only screen and (max-width: 600px){
    .MainPage{
        overflow-x: hidden;
        .mainPageTexts{
            h1{
                margin-top: 50px;
                font-size: 30px;
            }
            .explore{
                width: 130px;
                height: 30px;
                font-size: 10px;

            }
        }
        .mainPageImages{
            .mainimg{
                img{
                width: 400px !important;
            }
            }
        }
    }
}

