@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Heebo:wght@100&family=Lato:wght@100;300&family=Playfair+Display:ital@1&family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@100;200&family=Prata&display=swap');
.dark{
.myNavPage{
    cursor: pointer;
    height: 16vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    .background{
        height: 16vh;
        width: 100%;
        background-image: url("/src/Pages/Images/wave-4.svg");
        background-position: bottom;
        position: fixed;
        top: 0;
    }
   .dr-item{
    list-style: none;
   }

    a{
        color: #0a1e33 !important;
        font-size: 14px !important;
        font-family: 'Catamaran', sans-serif;
        text-decoration: none;
        
    }
    .cartBalance{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #e46a4b;
        color: #fff;
        font-size: 10px;
        position: relative;
        top: -8px;
        right: 8px;
    }
    .mode{
        font-family: "Catamaran", sans-serif;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background:  #EC4EF2 ;
          border: .5px solid #0a1e33;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   .myWishList{
    color: #e46a4b;
    font-size: 20px;
   }
}
}
// ############################################################################################################
// ############################################################################################################
// ############################################################################################################
.light{
    .myNavPage{
        .dr-item{
            list-style: none;
        }
        cursor: pointer;
        height: 16vh;
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 0;
        .background{
            height: 16vh;
            width: 100%;
            background-image: url("/src/Pages/Images/wave-4.svg");
            filter: invert(7%) sepia(22%) saturate(1119%) hue-rotate(254deg) brightness(83%) contrast(100%);
            background-position: bottom;
            position: fixed;
            top: 0;
        }
       
        a{
            color: #0a1e33 !important;
            font-size: 14px !important;
            font-family: 'Catamaran', sans-serif;
        }
        .cartBalance{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #e46a4b;
            color: #fff;
            font-size: 10px;
            position: relative;
            top: -8px;
            right: 8px;
        }
        .mode{
            font-family: "Catamaran", sans-serif;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background:  #99b8ba;
              border: .5px solid #0a1e33;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .myWishList{
            color: #e46a4b;
            font-size: 20px;
           }
        
    }
}