@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Heebo:wght@100&family=Lato:wght@100;300&family=Playfair+Display:ital@1&family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@100;200&family=Prata&display=swap');
.SixthPage{
    width: 100%;
    height: 135vh;
    background-color: #fff;
    .imgItems{
        .mainImg{
            position: absolute;
            border-radius: 6px;
        }
        .oval{
            position: relative;
            top: 520px;
            left: 50px;
        }
        .path{
            position: relative;
            top: 500px;
            left: 0px;
        }
    }
    .txtItems{
        font-family: "Cataraman", sans-serif;
        .txtCon{
            width: 85%;
        h6{
            font-size: 12px;
            line-height: 1.3em;
            letter-spacing: 2px;
        }
        h2{
            font-size: 36px;
            font-weight: bold;
            line-height: 1.2em;
        }
        p{
            font-size: 14px;
            font-weight: 100;
            line-height: 1.5em;
        }
        .shopNowBtn{
            cursor: pointer;
            text-decoration: none;
            width: 150px;
            height: 45px;
            background-color: #e46a4b;
            border-radius: 6px;
            color: #fff;
            font-family: "Cataraman", sans-serif;
            font-weight: bold;
            font-size: 16px;
            transition: .8s;
            &:hover{
                transition: .8s;
                background-color: #0a1e33;
            }
          }
        }
    }
}

.light{
    .SixthPage{
        background-color: #f4dbf3;
    }
}

// RESPONSIVE

@media only screen and (max-width: 600px){
    .SixthPage{
        width: 100%;
        height: auto;
        .imgItems{
            display: flex;
            justify-content: center;
            align-items: center;
            .mainImg{
                margin-top: 120px;
                width: 200px;
            }
            .oval{
                opacity: 0;
            }
            .path{
                opacity: 0;
            }
           
        }
        .txtItems{
            .txtCon{
                margin-top: 220px;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 12px;
            }
            h6{
                display: flex;
                justify-content: center;
            }
            .shopNowBtn{
                width: 120px;
                height: 30px;
                font-size: 12px;
            }
        }
        }
        .carouselItems{
            display: none;
        }
       
    }
}