.storePage{
    width: 100%;
    height: auto;
    margin-top: 150px;
    overflow: hidden;
    font-family: "Catamaran", sans-serif;
    color: #0a1e33;
    .stateComponents{
        position: relative;
        cursor: pointer;
        ul{
            li{
                list-style: none;
            }
        }
    }
    .storeElements{
        h1{
            text-align: center;
        }
        .storeProducts{
            .item{
        
        .storeWishList{
            position: absolute;
            font-size: 20px;
            top: 20px;
            right: 70px;
            color: #e46a4b;
            opacity: 0;
        }
        &:hover{
            .storeWishList{
                transition: .8s;
                opacity: 1;
                transform: translateY(30%);
            }
        }
    }
}
    }
    
}

// RESPONSIVE
@media only screen and(max-width:600px){
    .storePage{
        .stateComponents{
            width: 90%;
        }
       .storeElements{
        width: 100%;
        .storeProducts{
            width: 100%;
            margin-left: 100px;
        }
       }
    }
}