@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Heebo:wght@100&family=Lato:wght@100;300&family=Playfair+Display:ital@1&family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@100;200&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Heebo:wght@100&family=Lato:wght@100;300&family=Pacifico&family=Playfair+Display:ital@1&family=Plus+Jakarta+Sans:wght@200;400&family=Poppins:wght@100;200&family=Prata&display=swap');
@import 'carousel';
@import 'navbar';
@import 'mainPage';
@import 'secondPage';
@import 'thirdPage';
@import 'fourthPage';
@import 'fifthPage';
@import 'sixthPage';
@import 'seventhPage';
@import 'eighthPage';
@import 'footer';
@import 'loginPage';
@import 'blogPage';
@import 'aboutUsPage';
@import 'contactPage';
@import 'storePage';
@import 'newsletter';
@import 'cart';
@import 'storeElement';
@import 'adminLogin';
@import 'bestsellers';
@import 'renderCart';
@import 'logoutPage';
@import 'wishListPage';


.preLoader{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.light{
    background-color: #F4DBF3;
}


